.mainSearchAlamat {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomAlamat {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 15px 30px 40px 30px;
  font-size: 15px;
}
